Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.Fwcalc.com.com
RewriteRule ^(.*)$ https://fwcalc.com/$1 [R=301,L]

ErrorDocument 401 https://Fwcalc.com
ErrorDocument 403 https://Fwcalc.com
ErrorDocument 404 https://Fwcalc.com
ErrorDocument 500 https://Fwcalc.com

RewriteEngine on
RewriteCond %{HTTP_REFERER} semalt\.com [NC]
RewriteRule .* – [F]